
<div class="rat"> Current Price of BTC: ${{ rat }} </div>

<p class="note">The prediction equation is not accurate I just wanted to see if I 
  could find relative mins/maxs using three points from an interactive chart.  The data 
is from cypto compare, pick three points from actual historical BTC to USD data then hit submit
to create a parabola, find the min/max, and find the min/max f(x) value.  Hold shift and highlight a section to 
display a zoomed view.  It works for hours/
mins/days.</p>

<div class="button-container">
  <button class="toggle-btn" (click)="onClick(2)">Days</button>
  <button class="toggle-btn" (click)="onClick(0)">Hours</button>
  <button class="toggle-btn" (click)="onClick(1)">Minutes</button>
</div>

<div *ngIf=(divSelector[0])>
  <kendo-chart renderAs="canvas" [pannable]="true" [zoomable]="true" (seriesClick) = "onSeriesClick($event)">
    <kendo-chart-title text="Price of BTC (USD)"></kendo-chart-title>
    <kendo-chart-category-axis >
      <kendo-chart-category-axis-item
          [categories]="xHour" [visible]="false" >
      </kendo-chart-category-axis-item>
      <kendo-chart-category-axis-item [title]="{ text: 'Time ---> (hours since 2000 hours ago)' }"></kendo-chart-category-axis-item>
  </kendo-chart-category-axis>
  <kendo-chart-tooltip>
    <ng-template kendoChartSeriesTooltipTemplate let-value="point">
        <div>Hours: {{value.category}}</div>
        <div>Price: ${{value.value}}</div>
    </ng-template>
  </kendo-chart-tooltip>
    <kendo-chart-series>
      <kendo-chart-series-item [style]="style" type="line"
          [data]="yHour"
          [markers]="{ visible: false }" >
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>


<div *ngIf=(divSelector[1])>
  <kendo-chart renderAs="canvas" [pannable]="true" [zoomable]="true" (seriesClick) = "onSeriesClick($event)">
    <kendo-chart-title text="Price of BTC (USD)"></kendo-chart-title>
    <kendo-chart-category-axis >
      <kendo-chart-category-axis-item
          [categories]="xMin" [visible]="false" >
      </kendo-chart-category-axis-item>
      <kendo-chart-category-axis-item [title]="{ text: 'Time ---> (minutes since 2000 minutes ago)' }"></kendo-chart-category-axis-item>
  </kendo-chart-category-axis>
  <kendo-chart-tooltip>
    <ng-template kendoChartSeriesTooltipTemplate let-value="point">
        <div>Minutes: {{value.category}}</div>
        <div>Price: ${{value.value}}</div>
    </ng-template>
  </kendo-chart-tooltip>
    <kendo-chart-series>
      <kendo-chart-series-item [style]="style" type="line"
          [data]="yMin"
          [markers]="{ visible: false }" >
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>


<div *ngIf=(divSelector[2])>
  <kendo-chart renderAs="canvas" [pannable]="true" [zoomable]="true" (seriesClick) = "onSeriesClick($event)">
    <kendo-chart-title text="Price of BTC (USD)"></kendo-chart-title>
    <kendo-chart-category-axis >
      <kendo-chart-category-axis-item
          [categories]="xDay" [visible]="false" >
      </kendo-chart-category-axis-item>
      <kendo-chart-category-axis-item [title]="{ text: 'Time ---> (days since 2000 days ago)' }"></kendo-chart-category-axis-item>
  </kendo-chart-category-axis>
  <kendo-chart-tooltip>
    <ng-template kendoChartSeriesTooltipTemplate let-value="point">
        <div>Days: {{value.category}}</div>
        <div>Price: ${{value.value}}</div>
    </ng-template>
  </kendo-chart-tooltip>
    <kendo-chart-series>
      <kendo-chart-series-item [style]="style" type="line"
          [data]="yDay"
          [markers]="{ visible: false }" >
      </kendo-chart-series-item>
    </kendo-chart-series>
  </kendo-chart>
</div>

<div class="flex-box">
  <div class="display">
    <div class="a hour">TimeUnit 2000: {{ x }}</div>
    <div class="a hour">TimeUnits Ago: {{ 2000 - x }}</div>
    <div class="a price">Price: ${{ y }}</div>
  </div>

  <div class="coor-container">
    <div class="b">(X<sub>1</sub>,Y<sub>1</sub>): ({{ xVars[0] }}, {{ yVars[0] }})</div>
    <div class="b">(X<sub>2</sub>,Y<sub>2</sub>): ({{ xVars[1] }}, {{ yVars[1] }})</div>
    <div class="b">(X<sub>3</sub>,Y<sub>3</sub>): ({{ xVars[2] }}, {{ yVars[2] }})</div>
  </div>
</div>

<div class="bot-container">
  <button class="c" (click)="pricePredict()">submit</button>
  <button class="c" (click)="dataReset()">reset</button>
</div>

<div class="predict-container">
  <div class="d formula">Formula: f(x) = {{ a }}x<sup>2</sup> + {{b}}x + {{c}}</div>
  <div class="d price">Predicted Price: {{pricePre}}</div>
  <div class="d time">Predicted Time: {{timePre}}</div>
</div>

<p class="note">Note that the prediction below uses an LSTM neural network.
  This means that it may take a long time to calculate after hitting submit. 
  The model uses the last 60 days as testing data to predict the price for the
  next day. It is trained with 4 years of training data (historical BTC prices).
</p>
<div class="predict-container">
  
  <button class="c" (click)="pythonPrediction()">submit</button>
  <div class="d price">Predicted Price: {{pythonPre}}</div>
</div>

<p class="note">By Jake
</p>

<div class="fill"></div>

